.solicitar-servicio {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Inter', sans-serif;
  }
  
  .user-profile {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .back-button {
    margin-bottom: 20px;
    border: none;
    background: none;
    font-weight: bold;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  h4 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .service-type {
    margin-bottom: 20px;
  }
  
  .service-buttons {
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
    gap: 2rem;
  }
  
  .service-buttons button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width:  8rem;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
  }
  
  .service-buttons button.active {
    background-color: white;
    color: #4CAF50;
    border: 3px solid #4CAF50;
    font-weight: bold;
  }
  
  .service-form {
    font-size: 0.95rem; /* 14px */
    margin-bottom: 20px;
  }
  
  .form-row {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  .final-row {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5rem;
    padding-right: 10rem;
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .costo {
    max-width: 7rem;
    margin-bottom: 20px;
    margin-top: 0.1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: lightgray;
  }
  
  .costo input {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .confirm-button {
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .confirm-button:hover {
    background-color: #009b43;
    transform: scale(1.05); 
  }