.register-container {
    display: flex;
    flex-direction: row;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .register-container {
        flex-direction: column; /* Cambia la dirección para que se apile verticalmente */
    }
    
    .map-section {
        display: none; /* Oculta completamente la sección del mapa */
    }

    .form-section {
        flex: 1; /* El formulario ocupa el 100% del espacio disponible */
        padding: 1rem; /* Ajusta el padding si es necesario */
    }
}

.form-section {
    flex: 0 0 30%;
    padding: 2rem;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.map-section {
    flex: 1;
    background-size: contain;
    background-position: center;
}

.register-form {
    margin: 0 auto;
}

.form-group label {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
}

.register-input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    margin-top: 0.1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.register-button {
    width: fit-content;
    padding: 10px;
    background-color: #00C853;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-button:hover {
    background-color: #009b43;
    transform: scale(1.05);
}

.register-title {
    text-align: center;
    margin-bottom: 0.2rem;
    margin-top: 0;
}

p {
    margin-top: 0;
    text-align: center;
}

.forgot-psd {
    margin-top: 0;
    margin-bottom: 1rem;
}

.register-link {
    color: #1a73e8;
    text-decoration: none;
}

.map-section {
    background-image: url('../assets/map-image2.jpg');
    background-size: contain;
    background-repeat: repeat-y; /* Esto hará que la imagen se repita verticalmente */
    background-position: center;
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
  }