.table-container {
    width: 100%;
    overflow-x: auto; /* Permite el desplazamiento horizontal en pantallas pequeñas */
}

@media (max-width: 768px) {
    .table-container {
        padding: 0 10px; /* Añade un poco de padding en dispositivos móviles */
    }

    .rdt_Table {
        width: 100%;
    }

    .rdt_TableCell, .rdt_TableHeadCell {
        font-size: 12px; /* Reduce el tamaño de fuente en pantallas más pequeñas */
        padding: 8px; /* Ajusta el padding para ahorrar espacio */
    }
}
